label {
  /*background-color: red;*/
  margin: 0px;
  width: 30%;
  /*float:right;*/

}

h1{
  padding: 5px;
}

.input_required {

  box-shadow: 4px 4px 7px rgba(200, 0, 0, 0.85);
}

input:required {
  box-shadow: 4px 4px 7px rgba(200, 0, 0, 0.85);
}

.ButtonForm{

  width: 100%;
  text-align: center;
  padding-top: 20px;
}


.formAdd{

  padding: 25px;
  width: 100%;
  height: 100%;

  border: solid 1px;
  border-radius: 7px;
  border-color: #aeaeae;
}


